<%
const cdnPrefix = htmlWebpackPlugin.options.customparams.cdnPrefix ? htmlWebpackPlugin.options.customparams.cdnPrefix : '';
const monacoCdnPrefix = htmlWebpackPlugin.options.customparams.monacoCdnPrefix ? htmlWebpackPlugin.options.customparams.monacoCdnPrefix : '';

const vsLoader = './vs/original-loader.js';
const vsLoaderCdn = monacoCdnPrefix + 'vs/loader.js';

const mainEditorFile = 'vs/editor/editor.main';

const nocacheChunks = [];
const cachedChunks = [];
for (key in htmlWebpackPlugin.files.chunks) {
  const url = htmlWebpackPlugin.files.chunks[key].entry;
  const chunk = {
    "chunk": url
  };

  if (cdnPrefix && url.match(/^(main|vendors)\.[^.]+\.js$/)) {
    chunk["cdn"] = cdnPrefix + url;
    cachedChunks.push(chunk);
  } else {
    nocacheChunks.push(chunk);
  }
}

const cachedResourceFiles = [];
if (cdnPrefix) {
  for (asset in compilation.assets) {
    if (asset.endsWith('.wasm') || asset.endsWith('.woff2') || asset.endsWith('.gif')) {
      cachedResourceFiles.push({
        "resource": asset,
        "cdn": cdnPrefix + asset
      });
    }
  }
}

if (cdnPrefix || monacoCdnPrefix) {
  const monacoFiles = [ '.js', '.css', '.nls.js' ]
  .map((ext) => mainEditorFile + ext)
  .map((url) => {
    return {
      "external": url,
      "cdn": monacoCdnPrefix + url
    };
  });
  monacoFiles.push({
    "external": vsLoader,
    "cdn": vsLoaderCdn
  });

  const fs = require('fs');
  fs.writeFile("lib/cdn.json", JSON.stringify(
    cachedChunks.concat(monacoFiles).concat(cachedResourceFiles),
    undefined, 2));
}
%>

<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8"><%
nocacheChunks.forEach((entry) => {%>
  <script type="text/javascript" src="<%= entry.chunk %>" crossOrigin="anonymous" charset = "utf-8"></script><%
});%>
  <script type="text/javascript">
window.cheCDN.resources=<%= JSON.stringify(cachedResourceFiles) %>;
window.cheCDN.monaco={
    "vsLoader": "<%= vsLoader %>",
    "vsLoaderCdn": "<%= vsLoaderCdn %>",
    "mainEditorFile": "<%= mainEditorFile %>",
    "cdnPrefix": "<%= monacoCdnPrefix %>"
};
window.cheCDN.chunks=<%= JSON.stringify(cachedChunks) %>;
window.cheCDN.buildScripts();
</script>
</head>

<body>
  <div class="theia-preload"></div>
</body>

</html>
